ul{
	list-style-type:none;
}
h1{
	font-weight: 100;
}

p,h6{
	font-weight:200 !important;
}
.content-23 .hero-unit h1{
	border:none;
	font-weight: 100;
}
.content-23 .hero-unit.hero-unit-bordered h1{
	border-width:3px;
	font-weight: 200;
}

.center{
	text-align: center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.btn{
	border:2px solid;
}
.btn-toolbar .btn-group .btn{
	border:none;
}
label.uploadbutton input {
	display: none;   
}
iframe{
	border: 1px solid #EEE;
}
.logo{
	width:50px;
}
label.radio{
	text-align: left;
}
.row.dataset_options > div{
	display:none;
}
.row.dataset_options > div.active{
	display:block;
}

.header-10-sub .background {
	background-image: url("../img/bg/neat.jpg");
	opacity: 0.95;
}
.content-23.livein{
	background-image: url('../img/bg/trento.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.content-8 div.image-container {
	height:300pxr;
}

a{
	color:white;
}
.light-background a{
	color:	#16A085;

}
.light-background a:hover{
	color:#1ABC9C;
}
.hero-unit h1.title{
	font-size:80px;
	font-weight: 100;
}
.hero-unit .subtitle, .hero-unit .subtitle *{
	font-weight: 150 !important;
	color:white;

}
.avatar{
	margin-top: -15px;
	height: 60px;
}
.iphone{
	height:550px;
}
.muted{
	opacity:0.5;
}
.social-feed-image{
	height:500px;
}
.ultra-light{
	font-weight: 100;
}
